@import '~assets/sass/variables';

$_shape: $shape;
$_h-padding: $module-rem * 2;
$_menu_paddig: ($module-rem / 2) 0;
$_side-bar-width: $module-rem * 20;
$_header-height: $module-rem * 6;
$_border: 1px solid rgba(#fff,.2);
$_img-preview-size: $module-rem * 16;

$_bg: #2c435b;

:host {
	background: $_bg;
	border: $_border;
	border-radius: $_shape;
	display: flex;
	flex: 1;
	height: 100%;
	position: relative;
	overflow: hidden;

	.sidebar {
		background: main-palette(500);
		border: none;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-y: auto;
		position: absolute;
		width: $_side-bar-width;
		@media #{$max767} {
			z-index: 5;
		}

		.title-box {
			align-items: center;
			border-bottom: $_border;
			display: flex;
			min-height: $_header-height;
			height: $_header-height;
			padding: 0 ($module-rem * 2);
			width: 100%;

			.title {
				font-size: 1.3em;
				margin: 0;
				padding: 0;
			}
			button {
				color: #fff;
				background: transparent;
				border: none;
				display: none;
				margin-left: auto;
				@media #{$max767} {
					display: block;
				}
			}
		}
		.filter {
			flex: 2;
			padding: 0 ($module-rem * 2);

			.list {
				margin: $module-rem 0;
				
				.list-title {
					font-size: 1.1em;
					padding: 0;
					margin: 0 0 $module-rem 0;
				}
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					width: 100%;

					li {
						color: rgba(#fff,.8);
						cursor: pointer;
						display: flex;
						padding: $_menu_paddig;
						transition: color .2s $animation;
						width: 100%;

						.counter {
							margin-left: auto;
							opacity: .8;
						}	
						&:hover {
							color: #fff;
						}
						&.active {
							color: accent-palette(500);
						}
					}
				}
			}
		}
		.add-label {
			margin: $module-rem * 2;
		}
	}
	.main {
		display: flex;
		flex: 1;
		flex-direction: column;
		margin-left: $_side-bar-width;
		position: relative;
		overflow: hidden;
		transition: margin-left 0.2s $animation;
		@media #{$max767} {
			margin-left: 0;
		}

		.header {
			align-items: center;
			background: main-palette(500);
			border-bottom: $_border;
			box-sizing: border-box;
			color: #fff;
			display: flex;
			flex-direction: row;
			min-height: $_header-height;
			justify-content: space-between;
			height: $_header-height;
			padding: ($module-rem / 2)  ($module-rem * 2);
			width: 100%;

			.toggler {
				cursor: pointer;
				display: block;
				margin-right: $module-rem;

				.bar {
					background-color: #fff;
					height: 3px;
					margin: ($module-rem / 2) 0;
					width: $module-rem * 3;
				}
			}
			.search {
				flex-grow: 5;
				margin-right: $module-rem;
			}
			button {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		.list {
			flex: 1;
			flex-direction: row;
			overflow-y: auto;
			
			.users-list {
				border-right: $_border;
				flex: 1;
				position: relative;
				overflow: auto;
				@media #{$max543} {
					border-right: none;
				}
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;

					li {
						border-bottom: 1px solid rgba(#fff,.1);
						cursor: pointer;
						display: flex;
						flex-direction: row;
						justify-content: start;
						padding: $module-rem ($module-rem * 2);
						position: relative;
						transition: background 0.4s $animation;
						width: 100%;

						&:hover {
							background: rgba(#000,.05);
						}
						.content {
							align-self: center;
							font-weight: 100;
							flex-direction: column;
							display: flex;
							flex: 1;
							padding: 0 $module-rem;
							position: relative;
							width: 100%;

							.title {
								display: flex;
								margin: 0;
								padding: 0;
							}
							.text {
								display: block;
								font-size: .9em;
								opacity: 0.7;
							}
						}
						.time {
							opacity: 0.5;
							margin-left: auto;
						}
						.img {
							align-self: flex-start;
							align-items: center;
							border-radius: 50%;
							display: flex;
							height: 4*$module;
							min-height: 4*$module;
							min-width: 4*$module;
							justify-content: center;
							overflow: hidden;
							width: 4*$module;

							> img {
								height: 100%;
								position: relative;
							}
						}
					}
				}
			}
			.filter {
				display: flex;
				overflow-y: auto;
				width: 3 * $module;
				@media #{$max543} {
					display: none;
				}

				.letters {
					display: flex;
					flex: 1;
					flex-direction: column;
					font-size: 0.9em;
					margin-left: auto;
					overflow-y: auto;
					text-align: center !important;

					> a {
						cursor: pointer;
						margin: 2px;
						transition: color .3s $animation, opacity .3s $animation;

						&.active {
							color: accent-palette(500);
						}
						&:hover {
							opacity: .6;
						}
					}
				}
			}
		}
	}
	.user-preview {
		background: $_bg;
		display: flex;
		flex-direction: column;
		left: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		width: 100%;
		z-index: 95;

		.header {
			align-content: center;
			display: flex;
			font-size: 1.4em;
			justify-content: center;
			margin-bottom: $module-rem;

			.back {
				cursor: pointer;
				margin-right: auto;
				font-size: 1.2em;
				z-index: 100;
			}
			.name {
				width: 100%;
				position: absolute;
				text-align: center;
			}
		}
		.user-information {
			overflow-y: auto;

			.user-img {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: $module-rem ($module-rem * 2) ($module-rem * 3);
				width: 100%;

				.img {
					animation: apear 0.5s;
					align-self: center;
					align-items: center;
					border-radius: 50%;
					display: flex;
					height: $_img-preview-size;
					margin-bottom: $module-rem;
					min-height: $_img-preview-size;
					min-width: $_img-preview-size;
					justify-self: center;
					justify-content: center;
					overflow: hidden;
					width: $_img-preview-size;

					> img {
						height: 100%;
						position: relative;
					}
				}
				.name {
					display: flex;
					font-size: 1.3em;
					justify-content: center;
				}
				.role {
					@extend .name;
					font-size: 1.2em;
					opacity: 0.8;
				}
			}
			.information {
				display: flex;
				flex-direction: column;

				.item {
					align-items: center;
					display: flex;
					justify-content: flex-start;
					padding: $module-rem ($module-rem * 2);

					i {
						margin-right: $module-rem / 2;
					}
				}
			}
		}
	}
}
