/*
Theme Name: Coda
Theme URI: http://component.next-item.com/
Author: Next Item
Author URI: next-item.com
Description: Component - Documentation
Version: 1.0.0
License: ThemeForest Regular & Extended License
License URI: http://themeforest.net/licenses/regular_extended
*/
html {
  height: 100%; }

body {
	background: #516478;
  height: 100%;
  font-size: 16px;
	min-width: 480px;
	color: white; }

img {
  height: auto;
  max-width: 100%; }

.accent-color {
  color: #FF8534; }

.main-menu {
  background: #061e38;
  bottom: 0;
  font-size: 14px;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 170px; }
  .main-menu .navbar {
    background: none;
    border: 0 none; }
    .main-menu .navbar .navbar-header {
      float: none;
      padding: 0;
      text-align: center;
      width: 100%;
    }
    .main-menu .navbar .navbar-header .navbar-header-wrap {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-family: "Nunito Sans", sans-serif;
      font-size: 24px;
      height: 70px;
      padding: 10px 15px;
      text-decoration: none;
      width: 100%;
    }
    .main-menu .navbar .navbar-header img {

    }
    .main-menu .navbar .collapse {
      display: block !important;
      padding: 20px 0 0;
    }
      .main-menu .navbar .collapse .navbar-nav {
        float: none;
        margin: 0; }
        .main-menu .navbar .collapse .navbar-nav > li {
          float: none; }
          .main-menu .navbar .collapse .navbar-nav > li > a {
            color: #fff;
            padding-top: 5px;
            padding-bottom: 5px;
            -webkit-transition: color .2s linear;
            transition: color .2s linear; }
            .main-menu .navbar .collapse .navbar-nav > li > a:hover, .main-menu .navbar .collapse .navbar-nav > li > a:focus {
              color: #FF8534; }
            .main-menu .navbar .collapse .navbar-nav > li > a.active {
              color: #FF8534; }

.content-wrap {
  padding: 0 0 0 170px; }
  .content-wrap .section {
    padding: 20px 0; }
    .content-wrap .section + .section {
      border-top: 1px solid #ccc; }
    .content-wrap .section .section-title {
      color: #302d2d; }

.code-box {
  border: 2px solid #ccc;
  margin-bottom: 20px;
  max-width: 960px; }
  .code-box pre {
		background: #2c435b !important;
    border-radius: 0;
    margin: 0;
		max-height: 345px; }
		
	code {
		background: #2c435b;
		color: #FF8534;
	}

	h2 {
		color: #fff !important;
	}
	a, a:hover, a:focus, a:visited {
		color: #061e38;
	}
	* {
		border-color: #061e38 !important; 	
	}