/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: rgba(255,255,255 ,0.7);
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: rgb(7, 143, 255);
}
.hljs-name,
.hljs-attribute,
.hljs-selector-tag {
	color: #FF8534;
}

.hljs-link {
  color: rgb(7, 143, 255);
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: rgb(7, 143, 255);
}

.hljs-number,
.hljs-class {
  color: rgb(176, 228, 142);
}

.hljs-string,
.hljs-meta-string {
  color: rgb(207, 80, 25);
}

.hljs-regexp,
.hljs-template-tag {
  color: rgb(219, 83, 24);
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: rgb(216, 214, 214);
}

.hljs-comment,
.hljs-quote {
  color: rgb(109, 224, 92);
  font-style: italic;
}

.hljs-doctag {
  color: rgb(108, 184, 76);
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
  color: rgb(160, 157, 157);
}

.hljs-variable,
.hljs-template-variable {
  color: rgb(215, 92, 226);
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
  color: rgb(0, 166, 255);
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: rgb(255, 188, 44);
}

.hljs-addition {
  background-color: #1f681d;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: rgb(179, 0, 0);
  display: inline-block;
  width: 100%;
}


