@import '~assets/sass/variables';

$_bg: (
  default: transparent,
  hover: transparent,
  active: main-palette(500),
  disabled: rgba(#fff,.1)
);
$_border: (
  default: main-palette(500),
  hover: main-palette(500),
  active: main-palette(500),
  disabled: rgba(#fff,.2)
);
$_color: (
  default: main-palette(500),
  hover: main-palette(500),
  active: accent-palette(500),
  disabled: rgba(#fff,.2)
);
$_label-color: (
  default: inherit,
  hover: inherit,
  active: inherit,
  disabled: #ccc
);

$_border-style: solid;
$_border-width: 2px;
$_fs: 1.2rem;
$_shape: 50%;
$_animation: $animation;
$_height: $module-rem * 2;
$_width: $module-rem * 2;

:host {
  color: #AAAFB4;
  cursor: pointer;
  display: inline-flex;
  line-height: 1;
  margin: $module-rem / 2;
  transition: color .2s $animation;

  .tc-radio-wrap {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 0;

    .radio-input {
      cursor: pointer;
      opacity: 0;
      position: absolute;

      &:checked {
        + .tc-radio-handle {
          background: map-get($_bg, active);
          border-color: map-get($_border, active);

          .check-detector {
            background: map-get($_color, active);
            transform: scale(1);
          }

          + .w-radio-label {
            color: map-get($_label-color, active);
          }
        }
      }
    }
    .tc-radio-handle {
      align-items: center;
      background: map-get($_bg, default);
      border: $_border-width $_border-style map-get($_border, default);
      border-radius: $_shape;
      cursor: pointer;
      display: flex;
      height: $_height;
      justify-content: center;
      margin: 0;
      padding: 3px;
      position: relative;
      transition:
        background .2s $animation,
        border .2s $animation;
      width: $_width;

      .check-detector {
        background: map-get($_color, default);
        border-radius: $_shape;
        display: block;
        height: 100%;
        padding: 0;
        transform: scale(0);
        transition:
          background .2s $animation,
          transform .2s $animation;
        width: 100%;
      }
    }
    .tc-radio-label {
      margin-left: 10px;
      transition: color .2s $animation;
    }
    &:hover {
      .tc-radio-handle {
        background: map-get($_bg, hover);
        border-color: map-get($_border, hover);

        .check-detector {
          background: map-get($_color, hover);
          transform: scale(1);
        }
      }
    }
  }
  &.disabled {
    .tc-radio-wrap {
      .radio-input {
        &:checked {
          + .tc-radio-handle {
            background: map-get($_bg, disabled);
            border-color: map-get($_border, disabled);

            .check-detector {
              background: map-get($_color, disabled);
            }

            + .w-radio-label {
              color: map-get($_label-color, disabled);
            }
          }
        }
      }
      .tc-radio-handle {
        background: map-get($_bg, disabled);
        border-color: map-get($_border, disabled);

        .check-detector {
          background: map-get($_color, disabled);
          transform: scale(0);
        }
      }
    }
  }
  .tc-radio-horizontal > & {
    margin: 0 5px;
  }
}
