@import '~assets/sass/variables';

$_bg: (
	default: transparent,
	hover: transparent,
	focus: transparent,
	disabled: rgba(#ccc,.1)
);
$_border: (
	default: rgba(#fff,.5),
	hover: #fff,
	focus: accent-palette(500),
	disabled: #ccc
);
$_color: (
	default: #fff,
	hover: #fff,
	focus: #fff,
	disabled: #ccc
);

$_shape: $shape;
$_animation: $animation;
$_list-bg: main-palette(500);

:host {
  display: block;
	position: relative;

  .select-box {
		align-items: center;
		background: map-get($_bg, default);
		border: 1px solid map-get($_border, default);
		border-radius: $_shape;
		color: map-get($_color, default);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding: calc(#{$module-rem} - 2px) calc(#{$module-rem} * 2 - .2em);
		transition:
      color .3s $_animation,
      background .3s $_animation,
      border-color .3s $_animation;
		width: 100%;

		&.selected {
			color: #fff;
		}
		&:hover {
      background: map-get($_bg, hover);
      border-color: map-get($_border, hover);
      color: map-get($_color, hover);
		}
    &.opened {
      background: map-get($_bg, focus);
      border-color: map-get($_border, focus);
      color: map-get($_color, focus);
    }
		&.disabled {
      background: map-get($_bg, disabled);
      border-color: map-get($_border, disabled);
      color: map-get($_color, disabled);
      cursor: not-allowed;
      pointer-events: none;
		}
    &.multiple {
      height: unset;
      flex-flow: row wrap;
      min-height: $module-rem * 3;

      > .value {
        margin: -($module-rem / 2);
        white-space: normal;
      }
    }
    > * {
      padding: 0 ($module-rem / 2);
    }
    .value {
      flex: 1;
      text-align: left;
			padding: 0 .2em;
      white-space: nowrap;
    }
    .placeholder {
      color: rgba(#fff, .7);
      opacity: 0.6;
      font-weight: 200;
			padding: 0 .2em;
		}
		.icon {
			align-self: flex-start;
			align-items: center;
			color: #fff;
			display: flex;
  	  font-size: 1.5em;
			opacity: .9;
  	  transition:
        color .2s $_animation,
        opacity .2s $_animation,
        transform .2s $_animation;

  	  &.close {
  	    font-size: 1.2em;
  	  }
  	  &.active {
				opacity: 1;
  	    transform: rotate(180deg);
  	  }
  	  &:hover {
  	    opacity: 1;
  	  }
  	}
    .selected-option {
      align-items: center;
      background: rgba(#fff,.2);
      border-radius: $_shape;
      display: inline-flex;
      flex-flow: row nowrap;
      font-size: 1em;
      padding: 0 ($module-rem / 2);
      margin: $module-rem / 2;

      i {
        font-size: 1.1em;
        margin-right: $module-rem/2;
				transition: color .2s $_animation;

        &:hover {
          color: $error-color;
        }
      }
    }
  }
  .select-dropdown {
		background: $_list-bg;
		//border: 1px solid $_border-color;
		box-shadow: 0px 20px 40px rgba(#000,.5);
		border-radius: $_shape;
    display: flex;
		flex-flow: column nowrap;
		position: absolute;
		overflow: hidden;
    top: 100%;
    width: 100%;
		z-index: 9995;

		.selected {
			//border-color: $_focus-border;
			//background: $_focus-bg;
		}
		.filter {
			padding: $module-rem ($module-rem * 2);
			width: 100%;
		}
		.not-found {
			padding: $module-rem;
			font-size: 1.2em;
			opacity: .8;
		}
    .options {
			max-height: 25 * $module;

			.option {
      	cursor: pointer;
      	padding: ($module-rem / 2) ($module-rem * 2);
      	transition:
          background .2s $_animation,
          color .2s $_animation;
				width: 100%;

      	&.selected {
      	  background: rgba(#000,.05);
      	  color: accent-palette(500);
      	}
      	&.hovered {
      	  background: rgba(#000,.1);
      	  color: accent-palette(500);
      	}
      	&:hover {
					background: rgba(#000,.05);
      	  color: accent-palette(500);
      	}
    	}
		}
  }
}
